@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #b0d4ff;

  color: #2674d6;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 76px;
  background: #2674d6;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #2674d6;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 9px 11px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px;
  gap: 32px;
  background: #2674d6;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #fff7d8;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    margin-right: 400px;
  }
  .header {
    width: 100%;

    height: 80px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1400px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    display: flex;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
    color: #fff7d8;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    background: transparent;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 120px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}
.home-title {
  font-family: Fredoka;
  font-size: 46px;
  font-weight: 900;
  line-height: 59.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffefa7;
  -webkit-text-stroke: 3px #9a4600;
}
.home-text {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 28.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  padding: 40px 0 349px;
}
.home__google-button_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;

    padding: 140px 352px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .home-title {
    font-family: Fredoka;
    font-size: 96px;
    font-weight: 900;
    line-height: 124.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 36.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 466px;
    margin: auto;
    color: #ffffff;
    padding: 43px 0 117px;
  }
  .home__google-button_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
.about {
  padding: 80px 16px 0px;
  margin: auto;
  width: 375px;
  height: 761px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/About\ the\ Game.png");
}

.about-title {
  font-family: Fredoka;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2674d6;
}

.about-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 40px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 128px 734px 0 160px;
    margin: auto;
    width: 1440px;
    height: 556px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url("/img/about/About\ the\ Game\ \(1\).png");
  }

  .about-title {
    font-family: Fredoka;
    font-size: 40px;
    font-weight: 900;
    line-height: 52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 64px 0 0;
  }
}

.play {
  width: 375px;
  height: 1580px;
  margin: auto;
  padding: 80px 16px 0;
}
.play {
  position: relative;
}

.play::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/play/How to Play.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.play {
  position: relative;
  z-index: 2;
}
.play-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 40px;
}
.play-item {
  width: 343px;
  height: 216px;
  padding: 32px;
  border-radius: 32px;
  background: radial-gradient(
    49.38% 93.68% at 50% 50%,
    #6dafff 0%,
    #2674d6 100%
  );
  box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 6px 0px 0px #ffffff40 inset;
}
.play-img {
  margin: auto;
}

.play-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .play {
    width: 1440px;
    height: 854px;
    padding: 128px 160px 0;
  }
  .play::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/play/How\ to\ Play\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }
  .play-list {
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 36px;
    padding-top: 56px;
  }
}

.gallery {
  width: 375px;
  height: 698px;

  margin: auto;
  padding: 80px 15px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/Gallery.png");
}

.gallery__list {
  width: auto;
  padding-top: 40px;

  margin: auto;
}
.gallery__item {
  width: 256px;
  height: 456px;

  overflow: hidden;
  position: relative;
  margin: 0 12px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 828px;

    margin: auto;
    padding: 128px 0px 0;
    background-image: url("/img/gallery/Gallery\ \(1\).png");
  }

  .gallery__item {
    width: 256px;
    height: 456px;

    overflow: hidden;
    position: relative;
    margin: 0 12px;
  }

  .gallery__list {
    padding-top: 64px;
  }
}
.features {
  width: 375px;
  height: 1214px;

  padding: 70px 16px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/Game\ Features.png");
}
.features-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}
.features-item {
  width: 343px;
  padding: 16px;
  display: flex;
  align-items: start;
  gap: 16px;
  border-radius: 32px;
  background: radial-gradient(
    49.38% 93.68% at 50% 50%,
    #6dafff 0%,
    #2674d6 100%
  );
  box-shadow: 0px -6px 0px 0px #00000040 inset, 0px 6px 0px 0px #ffffff40 inset;
}

.features-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 986px;

    padding: 128px 160px 0;
    margin: auto;
    background-image: url("/img/features//Game\ Features\ \(1\).png");
  }
  .features-list {
    padding-top: 64px;
  }
  .features-item {
    width: 832px;

    padding: 32px;
  }

  .features-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.footer {
  background: #2674d6;

  color: #fff7d8;
  padding: 32px 39px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
}
.footer-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: start;

  gap: 4px;
}
.footer-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 32px 72px;
  }
  .footer-container {
    gap: 24px;
  }
  .footer-container-two {
    gap: 28px;
  }
  .footer-wrapper {
    gap: 4px;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 124px 32px 116px;
}
.policy-terms-title {
  font-family: Fredoka;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 28.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #2674d6;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Fredoka;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 36.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
